.navbar{
    background-color: rgb(0, 113, 206);
    height: 58px;
  }

.client-service{
  background-color: rgb(4, 30, 66);
  height: 22px;
  font-size: 12px;
  
}

mat-toolbar{
  color: #fff;
}

.logo{
  max-width: 120px;
}